/*body style*/
body {
    background: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-header {
    width: 89%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.logo-img {
    width: 11%;
    height: auto;
    padding: 0;
}

/*header style*/
h1 {
    margin: 0;
    padding: 0;
    font-size: 2.2em;
    font-family: Trebuchet MS;
    font-weight: 900;
    color: #512DA8;
}

/*navigation style & ul/li*/
nav {
    /* background: #d2cddd; */
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    font-family: Arial Narrow;
}

ul {
    display: flex;
    list-style: none;
    background: #412e6f;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
    text-align: center;
    padding: 5px 20px 5px 5px;
}

li a {
    text-decoration: none;
    font-size: .9em;
    color: white;
    font-weight: 500;  
}

/*parent container for child ".card-container"*/
div {
    width: 89%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;   
    margin: 0;
    padding: 10px 0;
    background: white;
}

/*form label styling*/
label {
    font-family: Arial Narrow;
    font-weight: 700;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* footer div styling*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 89%;
    height: 10%;
}

.footer-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #412e6f;
    width: 100%;
    justify-content: space-around;
}

.footer-li {
    list-style: none;
    padding: 5px;
    font-size: .9em;
    color: white;
    font-weight: 500;  
    font-family: Arial Narrow;
}

.footer-li a {
    text-decoration: none;  
}
