/*body style*/
body {
    background: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-header {
    width: 89%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.logo-img {
    width: 11%;
    height: auto;
    padding: 0;
}

/*header style*/
h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-family: Trebuchet MS;
    font-weight: 600;
    color: #512DA8;
}

/*navigation style & ul/li*/
nav {
    background: #d2cddd;
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    font-family: Arial Narrow;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background: #919191;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

li {
    text-align: center;
    padding: 3px;
}

li a {
    text-decoration: none;
    font-size: .9em;
    color: white;
    font-weight: 500;  
}

div {
    width: 89%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;   
    margin: 0;
    padding: 10px 0;
    background: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* footer div styling*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 89%;
    height: 10%;
    background: #919191;
}

.footer-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #919191;
    width: 89%;
}

.footer-li {
    list-style: none;
    padding: 5px;
    font-size: .9em;
    color: white;
    font-weight: 500;  
    font-family: Arial Narrow;
}

.footer-li a {
    text-decoration: none;
    
}