/*body style*/
body {
    background: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-header {
    width: 89%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.logo-img {
    width: 11%;
    height: auto;
    padding: 0;
}

/*header style*/
h1 {
    margin: 0;
    padding: 0;
    font-size: 2.2em;
    font-family: Trebuchet MS;
    font-weight: 900;
    color: #512DA8;
}

/*navigation style & ul/li*/
nav {
    /* background: #d2cddd; */
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    font-family: Arial Narrow;
}

ul {
    display: flex;
    list-style: none;
    background: #412e6f;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
    text-align: center;
    padding: 5px 20px 5px 5px;
}

li a {
    text-decoration: none;
    font-size: .9em;
    color: white;
    font-weight: 500;  
}

/*parent container for child ".card-container"*/
.container {
    width: 89%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;   
    margin: 0;
    padding: 10px 0;
    background: white;
}

/*deck parent-container div */
.deck-container {
    width: 89%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;   
    margin: 0;
    padding: 10px 0;
    background: white;
}

/*sibling divs for each deck*/
.deck-div {
    width: 56%;
    height: auto;
    padding: 15px 0; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

/*deck name*/
.deck-name {
    font-family: Trebuchet MS;
    font-size: 1.5em;
    font-weight: 900;
    color: black;
    text-align: center;
    margin: 0px;
}

/*card back image*/
.card-back {
    width: 70%;
    height: 85%;
    border: solid 1.5px black;
    border-radius: 15px;
    box-shadow:10px 10px 20px #48485d;
    margin: 10px 0;
}

a {
    text-decoration: none;
    font-size: .8em;
    font-weight: 900;
    color: #512DA8;
    font-family: Arial Narrow;
    padding: 8px 0px 10px 0px;
}

/* footer div styling*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 89%;
    height: 10%;
}

.footer-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #412e6f;
    width: 100%;
    justify-content: space-around;
}

.footer-li {
    list-style: none;
    padding: 5px;
    font-size: .9em;
    color: white;
    font-weight: 500;  
    font-family: Arial Narrow;
}

.footer-li a {
    text-decoration: none;  
}

/* @media screen and (max-width: 600px) {
   .container {
    width: 94%;
   } 

   div {
    width: 90%;
   }

   .card-back {
    width: 50%;
    height: auto;
   }

   ul li {
    font-size: 1.2em;
   }
} */