/*body style*/
body {
    background: #d2cddd;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*header style*/
h1 {
    margin: 0;
    padding: 10px;
    font-size: 2.4em;
    font-family: Trebuchet MS;
    font-weight: 600;
    color: black;
}

/*navigation style & ul/li*/
nav {
    background: #d2cddd;
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    margin: 0;
    font-family: Arial Narrow;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background: #48485d;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

li {
    text-align: center;
    text-decoration: none;  
    padding: 8px 10px;
    font-size: .9em;
    color: white;
    font-weight: 500;
}

/* home parent container div */
.container {
    width: 89%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;   
    margin: 0;
    padding: 10px 0;
    background: white;
}

/*sibling divs for each deck*/
div {
    width: 56%;
    height: auto;
    padding: 15px 0; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

/*deck name*/
h3 {
    font-family: Trebuchet MS;
    font-size: 1.6em;
    font-weight: 600;
    color: black;
    text-align: center;
    margin: 15px 0px;
}

/*card back image*/
.card-back {
    width: 70%;
    height: 85%;
    border: solid 1.5px black;
    border-radius: 15px;
    box-shadow:10px 10px 20px #48485d;
    margin: 10px 0;
}

/* footer div | ul/li & image (.logo-img) */
footer {
    display: flex;
    flex-direction: row;
    width: 89%;
    height: auto;
    background: #d2cddd;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #d2cddd;
    width: 70%;
    font-family: Segoe UI;
    font-size: .9em;
    font-weight: 600;
    color: black;
}

.footer-li {
    width: auto;
    padding: 0px;
    color: black;
}

.footer-li a {
    text-decoration: none;
    color: black;
}

.logo-img {
    width: 13%;
    height: auto;
    padding: 10px;
}

/* @media screen and (max-width: 600px) {
   .container {
    width: 94%;
   } 

   div {
    width: 90%;
   }

   .card-back {
    width: 50%;
    height: auto;
   }

   ul li {
    font-size: 1.2em;
   }
} */